---
- name: Deploy flaresolverr
  tags: flaresolverr
  become: true
  community.docker.docker_container:
    name: flaresolverr
    image: ghcr.io/flaresolverr/flaresolverr:latest
    pull: true
    ports:
      - "{{ flaresolverr_port }}:8191"
    env:
      CAPTCHA_SOLVER: "{{ flaresolverr_captcha_solver }}"
      TZ: "{{ flaresolverr_tz }}"
    networks: "{{ flaresolverr_networks if flaresolverr_networks | length > 0 else omit }}"
    restart_policy: unless-stopped
    memory: "{{ flaresolverr_memory }}"
