---
- name: Ensure docker is installed on the target system
  tags: docker
  ansible.builtin.include_role:
    name: nickjj.docker
    apply:
      become: true # without this, it will end up failing and retrying over and over to install deps
  when: radarr_install_docker

- name: Create Radarr Directories
  tags: radarr
  become: true
  ansible.builtin.file:
    path: "{{ radarr_folder }}"
    state: directory
    mode: "755"
    owner: root
    group: root

- name: Deploy radarr
  tags: radarr
  become: true
  community.docker.docker_container:
    name: radarr
    image: lscr.io/linuxserver/radarr:latest
    pull: true
    ports:
      - "{{ radarr_port }}:7878"
    volumes:
      - "{{ radarr_movies_folder }}:/movies:rw"
      - "{{ radarr_sabnzbd_downloads_folder }}:/downloads:rw"
      - "{{ radarr_transmission_downloads_folder }}:/data:rw"
      - "{{ radarr_folder }}:/config:rw"
    env:
      TZ: "{{ radarr_tz }}"
      PUID: "{{ radarr_pid }}"
      PGID: "{{ radarr_gid }}"
    restart_policy: unless-stopped
    memory: "{{ radarr_memory }}"
    memory_swap: "{{ radarr_memory_swap }}"
