---
- name: Create Prowlarr Directories
  tags: prowlarr
  become: true
  ansible.builtin.file:
    path: "{{ prowlarr_folder }}"
    state: directory
    mode: "755"
    owner: root
    group: root

- name: Deploy prowlarr
  tags: prowlarr
  become: true
  community.docker.docker_container:
    name: prowlarr
    image: lscr.io/linuxserver/prowlarr:latest
    pull: true
    ports:
      - "{{ prowlarr_port }}:9696"
    volumes:
      - "{{ prowlarr_folder }}:/config:rw"
    env:
      TZ: "{{ prowlarr_tz }}"
      PUID: "{{ prowlarr_pid }}"
      PGID: "{{ prowlarr_gid }}"
    networks: "{{ prowlarr_networks if prowlarr_networks | length > 0 else omit }}"
    restart_policy: unless-stopped
    memory: "{{ prowlarr_memory }}"
    memory_swap: "{{ prowlarr_memory_swap }}"
