---
- name: Create Jacket Directories
  tags: jackett
  become: true
  ansible.builtin.file:
    path: "{{ jackett_folder }}"
    state: directory
    mode: "755"
    owner: root
    group: root

- name: Deploy jackett
  tags: jackett
  become: true
  community.docker.docker_container:
    name: jackett
    image: lscr.io/linuxserver/jackett:latest
    pull: true
    volumes:
      - "{{ jackett_folder }}/config:rw"
      - "{{ jackett_download_folder }}:/downloads:rw"
    ports:
      - "{{ jackett_port }}:9117"
    env:
      TZ: "{{ jackett_tz }}"
      PUID: "{{ media_user_uid }}"
      PGID: "{{ media_user_gid }}"
      AUTO_UPDATE: "true"
    restart_policy: unless-stopped
    memory: "{{ jackett_memory }}"
