---
- name: Create Sabnzbd Directories
  tags: sabnzbd
  become: true
  ansible.builtin.file:
    path: "{{ sabnzbd_folder }}"
    state: directory
    mode: "755"
    owner: root
    group: root

- name: Deploy sabnzbd
  tags: sabnzbd
  become: true
  community.docker.docker_container:
    name: sabnzbd
    image: lscr.io/linuxserver/sabnzbd:latest
    pull: true
    volumes:
      - "{{ sabnzbd_folder }}:/config:rw"
      - "{{ sabnzbd_download_folder }}:/downloads:rw"
    ports:
      - "{{ sabnzbd_port }}:8080"
    env:
      TZ: "{{ sabnzbd_tz }}"
      PUID: "{{ media_user_uid }}"
      PGID: "{{ media_user_gid }}"
      AUTO_UPDATE: "true"
    networks: "{{ sabnzbd_networks if sabnzbd_networks | length > 0 else omit }}"
    restart_policy: unless-stopped
    memory: "{{ sabnzbd_memory }}"
    memory_swap: "{{ sabnzbd_memory_swap }}"

- name: Wait for sabnzbd config file to be created
  tags: sabnzbd
  become: true
  ansible.builtin.wait_for:
    path: "{{ sabnzbd_folder }}/sabnzbd.ini"
    state: present
    timeout: 60

- name: Configure sabnzbd host whitelist for container networking
  tags: sabnzbd
  become: true
  ansible.builtin.lineinfile:
    path: "{{ sabnzbd_folder }}/sabnzbd.ini"
    regexp: '^host_whitelist\s*='
    line: "host_whitelist = {{ sabnzbd_host_whitelist }}"
  notify: restart sabnzbd
